/*variables*/

/*nav*/
$backgroundcolornav: orange;

/*colores*/
$colorprimario: green;
$colorsecundario: orange;
$colorterciario: grey;

/*medidas*/
$medidabasica: 1rem;
$medidabasicacaja: 720px;

/*condicionales*/
$color: green;

/*maps*/

$rrss:(
    twitter: green,
    instagram: orange,
    youtube: white, 
);

$tamaniofuente: 0.50rem;




