@import "./grids";
@import "./variables";
@import "./componentes";


html{
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/*SECCION1*/
.subtitulopag1{
    color: green;
     font-style: italic;
     text-align: center;
     letter-spacing: 4px;
     background-color: rgb(216, 201, 201);
}
/*SECCION2*/
.h1seccion2{
    background-color: rgb(0, 128, 68);
}

.contenedorprincipalseccion2__caja2--color-1er-frase{
    color: gray;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/*seccion3*/
.subtituloseccion3{
    color: green;
    font-style: italic;
    text-align: center;
    letter-spacing: 4px;
    background-color: rgb(216, 201, 201)
}

.subtituloseccion5{
    color: green;
    text-align: center;
    background-color: rgb(187, 181, 181);
}